.login {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  width: 100%;
}

.example-form {
  margin: 0 auto 200px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
